<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Buy product</title>
</head>
<body>
<form th:method="POST" th:action="@{/products/buy}" th:object="${buy}">
  <label for="userId">Enter id user: </label>
  <input type="text" th:field="*{userId}" id="userId"/>
    <div style="color: red" th:if="${#fields.hasErrors('userId')}" th:errors="*{userId}"> userId error</div>
  <br>
  <label for="productId">Enter id product: </label>
  <input type="text" th:field="*{productId}" id="productId"/>
    <div style="color: red" th:if="${#fields.hasErrors('productId')}" th:errors="*{productId}"> productId error</div>
  <br>
  <input type="submit" value="Buy!"/>
</form>
</body>
</html>